<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">email</th>
        <th scope="col">nome</th>
        <th scope="col">nascimento</th>
        <th scope="col">endereco</th>
        <th scope="col">complemento</th>
        <th scope="col">cidade</th>
        <th scope="col">cep</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of listaDeClientes; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>
          {{cliente.email}}
        </td>
        <td>
          {{cliente.nome}}
        </td>
        <td>
          {{cliente.nascimento | date:'dd/MM/yyyy'}}
        </td>
        <td>
          {{cliente.endereco}}
        </td>
        <td>
          {{cliente.complemento}}
        </td>
        <td>
          {{cliente.cidade}}
       </td>
       <td>
          {{cliente.cep}}
     </td>
      </tr>
    </tbody>
  </table>